.product-title6 {
	color: #ffffff;
	line-height: 20px;
	padding-top: 20px;
	font-weight: 900;
	font-size: 40px;
}
.brief-description6  {
	display: flex;
	justify-content: center;
}
.brief-description6 h1{
	padding-top: 23px;
		color: #ffffff;
		font-size: 20px;
		font-weight: 400;
}
.brief-description6 img{
	padding-top: 20px;
}
.sixth-section .left-side-wrapper {
	background-image: url("../../../commonResource/Images/march9apple2023/6left.jpg");
}
.sixth-section .right-side-wrapper {
	background-image: url("../../../commonResource/Images/march9apple2023/6right.jpg");
}
.product-title6 {
	color: #ffffff;
	line-height: 20px;
	padding-top: 20px;
	font-weight: 900;
	font-size: 40px;
}
.brief-description6  {
	display: flex;
	justify-content: center;
}
.brief-description6 h1{
	padding-top: 23px;
		color: #ffffff;
		font-size: 20px;
		font-weight: 400;
}
.brief-description6 img{
	padding-top: 20px;
}
.sixth-section .left-side-wrapper {
	background-image: url("../../../commonResource/Images/march9apple2023/6left.jpg");
}
.sixth-section .right-side-wrapper {
	background-image: url("../../../commonResource/Images/march9apple2023/6right.jpg");
}