/* Footer Styling */
.footer-wrapper {
	background-color: #f5f5f7;
	color: #1d1d1f;
	font-size: .65em;
  }
  .upper-text-container {
	border-bottom: 1px solid #d2d2d7;
	color: #86868b;
	padding: 17px 0 20px;
  }
  .upper-text-container a {
	  text-decoration: none;
	  color: #515154; 
  }
  .upper-text-container a:hover {
	  text-decoration: underline;
  }
  .footer-links-wrapper {
	  display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding-top: 20px;
  }
  .footer-wrapper ul {
	  list-style: none;
	  padding-bottom: 20px;
	  text-align: left;
	  padding: 0 2px 0 0;
  }
  .footer-wrapper ul li{
	  padding: 5px 0px;
	  font-size: 0.9em;
  }
  .footer-links-wrapper a {
	  color: #515154;
	  text-decoration: none;
  }
  .footer-links-wrapper a:hover {
	  text-decoration: underline;
  }
  .footer-links-wrapper h3 {
	  text-align: left;
	  font-size: 12px;
	  font-weight: 600;
  }
  .my-apple-wrapper {
	  border-bottom: 1px solid #d2d2d7;
	  padding-bottom: 10px;
	  margin-bottom: 10px; 
  }
  .copyright-wrapper {
	  display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 10px 0 20px;
  }
  .footer-links-terms ul li {
	display: inline-block;
	padding: 0 5px;
	border-right: 1px solid #ccc;
  }
  .footer-links-terms ul li:last-child {
	  border-right: 0px;
  }
  .footer-links-terms ul li a {
	  text-decoration: none;
	  color: #515154;
  }
  .footer-links-terms ul li a:hover {
	  text-decoration: underline;
  }
  .footer-country {
	  display: inline-block;
  }
  .flag-wrapper {
	  display: inline-block;
	  vertical-align: middle;
  }
  .footer-country-name{
	  display: inline-block;
	  vertical-align: top;
  }
  


  /* Footer responsive */
@media (max-width: 768px){
	.footer-links-wrapper ul {
	  display: none;
	}
	.footer-links-wrapper h3 {
	  padding: 10px 0;
	  border-bottom: 1px solid #ccc;
	}
	.footer-links-wrapper h3:after {
	  font-family: "FontAwesome";
	  content: "\f067";
	  padding-left: 10px;
	  position: absolute;
	  right: 25px;  
	  font-size: 15px;  
	}
  
	.footer-links-wrapper h3.expanded:after {
	  font-family: "FontAwesome";
	  /* content: "\f107"; */
	  content: "\f00d";
	  padding-left: 10px;
	  position: absolute;
	  right: 25px;    
	  font-size: 15px;
	}
  }

/* Search Box */
.searchbox {
	z-index: 100;
	background: #000;
	padding: 100px;
	text-align: center;
	display: none;
}

.searchbox ul {
	background: #fff;
}
